*.vscode
models/
*.jpg
build/
dist/
fungalvision.egg-info/
.DS_Store
/fungalvision/.DS_Store
**/__pycache__
**/.DS_Store
**/.hdf5
**/.h5
/test
fungalvision/ims/rife_model/flownet.pkl
fungalvision/models/budSeg/budSeg
fungalvision/models/proSeg/proSeg
fungalvision/models/matSeg/matSeg
fungalvision/models/spoSeg/spoSeg
fungalvision/models/flouSeg/flouSeg
fungalvision/models/filaSeg/filaSeg
data/sample_movie_old
*.npz
